<!-- begin event -->
<section class="section projects animate"  id="events">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">{{ include.title }}</h2>
          </div>
          <div class="section__description">{{ include.description_html }}</div>
        </div>
        
        <ul class="controls list-reset" id="customize-controls" aria-label="Slider Navigation" tabindex="0">
          <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
            <i class="ion ion-ios-arrow-back"></i>
          </li>
          <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
            <i class="ion ion-ios-arrow-forward"></i>
          </li>
          <a class="section__link mrl" href="{{ site.baseurl }}{{ include.button_link }}">
            <i class="ion ion-md-list"></i>{{ include.button_text }}
          </a>
        </ul>

        {% if include.show_events %}
        <div class="event__slider my-slider">
          {% for event-item in site.events reversed%}
            {% bookshop event-card event=event-item %}
          {% endfor %}
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</section>
<!-- end event -->