{% assign c = "c-event-card" %}
<div class="{{c}} col col-4 col-d-6 col-t-12">
  <div class="{{c}}__inner">

    {% if include.event.image %}
    <div class="{{c}}__image-wrap">
      <a class="{{c}}__image" href="{{ site.baseurl }}{{ include.event.url }}">
        <img loading="lazy" src="{{ site.baseurl }}{{ include.event.image }}" alt="{{ include.event.title }}">
      </a>
    </div>
    {% endif %}

    <div class="{{c}}__content">

      <div class="{{c}}__meta">
        <div class="{{c}}__marker-icon">
          <i class="meta-icon ion ion-md-clock"></i>
        </div>
        <div class="{{c}}__info">
          <div class="{{c}}__address_name">
            <time datetime="{{ include.event.date | date_to_xmlschema }}">{{ include.event.event_date | date_to_string}}</time>
             à 
            <time datetime="{{ include.event.date | date_to_xmlschema }}">{{ include.event.event_date | date: "%H:%M"}}</time>
          </div>
        </div>
      </div>

      <div class="{{c}}__meta">
        <div class="{{c}}__marker-icon">
          <i class="meta-icon ion ion-md-map"></i>
        </div>
        <div class="{{c}}__info">
          <div class="{{c}}__address_name">{{ site.data.locations[include.event.location].name }}</div>
          <span class="{{c}}__city">{{ site.data.locations[include.event.location].city }}</span>
        </div>
      </div>

      <h2 class="{{c}}__title">
        <a href="{{ site.baseurl }}{{ include.event.url }}">{{ include.event.title }}</a>
      </h2>

      <p class="{{c}}__excerpt">
        {% if include.event.description %}{{ include.event.description }}{% else %}{{ include.event.content | strip_html | truncate: 120 }}{% endif
        %}
      </p>

    </div>
  </div>
</div>