<!-- begin header -->
<header class="c-header">

  <!-- Notification bar -->
  {% if site.data.notification.active %}
  <div class="notification-top-bar" style="background-color: {{site.data.notification.color}};">
    <input type="checkbox" id="notification-toggle" class="notification-toggle" />
    <label for="notification-toggle" class="close-button">&times;</label>
    <p>{{ site.data.notification.message}}
      {% if site.data.notification.button_link %}
        <small>
          <a href="{% if site.data.notification.button_link_type_type != 'external' %}{{site.baseurl }}{% endif %}{{site.data.notification.button_link}}" style="color: {{site.data.notification.color}};">{{site.data.notification.button_text}}</a>
        </small>
      {% endif %}
    </p>
    
    
  </div>
  {% endif %}

  <!-- Navigation bar -->
  <div class="container">
    <div class="row">
      <div class="c-header__inner">

        <div class="logo">
          <a class="logo__link" href="{{ site.baseurl }}/">
          {%if site.data.navigation.logo_image %}
            <img class="logo__image" src="{{ site.baseurl }}{{ site.data.navigation.logo_image }}" alt="{{ site.data.general_settings.title }}">
          {% else %}
            {{ site.data.settings.title }}
          {% endif %}
          </a>
        </div>

        <nav class="main-nav">
          <div class="main-nav__box">

            <div class="nav__icon-close">
              <i class="ion ion-md-close"></i>
            </div>

            <div class="nav__title">Menu</div>

              <ul class="nav__list list-reset">

              {% for item in site.data.navigation.menu__settings.menu__items %}
                {% if item.submenu %}
                <li class="nav__item dropdown">
                  <span class="nav__link dropdown-toggle">{{ item.title }} <i class="ion ion-ios-arrow-down arrow-down"></i></span>
                  <div class="dropdown-menu">
                    {% for submenu-item in item.submenu %}
                      <a target="{% if submenu-item.url_type == 'external' %}_blank{% endif %}" href="{% if submenu-item.url_type != 'external' %}{{site.baseurl }}{% endif %}{{ submenu-item.url }}" class="nav__link{% if page.url == submenu-item.url %} active-link{% endif %}">{{submenu-item.title}}</a>
                    {% endfor %}
                  </div>
                </li>

                {% else %}
                <li class="nav__item">
                  <a href="{{site.baseurl }}{{ item.url }}" class="nav__link{% if page.url == item.url %} active-link{% endif %}">{{ item.title }}</a>
                </li>
                {% endif %}
              {% endfor %}

            </ul>
          </div>

          {% bookshop_include social-link %}
        </nav>

        <div class="nav-button">
          <i class="nav__icon nav__icon-menu ion ion-md-menu"></i>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- end header -->